html {
	min-height: 100%;
}
body {
	margin-bottom: 60px; 
	background-color: #292929;
	color: #b1b1b1;
	overflow-x: hidden;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px; 
	line-height: 60px; 
	background-color: #292929;
}

.form-control:focus {
	border-color: #7e7e7e;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(168, 167, 165, 0.74);
}
.form-control {
	margin-top: 10%;
	height: 100px;
	font-size: 2em;
}
::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {
	text-align: center;
}

.preview_container {
	z-index: 0 !important;
	background-color: #363636;
}
.item-preview_item,
.item-preview_button-area {
	background-color: #292929;
	box-shadow: 2px 2px 5px #292929;
}

.item-preview_row:hover .item-preview_item,
.item-preview_row:hover .item-preview_button-area {
	background-color: #222222;
}

.cart-preview_item {
	padding-top: 1%;
	height: 4em;
	background-color: #292929;
}
.cart-preview_item-text {
	min-width: 350px;
}

.item-preview_poster {
	position: relative;
	height: 32px;
	z-index: 1 !important;
}

.row .col-6:hover {
	z-index: 0;
}

.cart-preview_item:hover {
	background-color: #222222;
}
.item-preview_item {
	cursor: pointer;
	color: #c8c8c8;
}
.go-back_cart-button,
.view-cart_item-button {
	font-size: 0.9em;
}
.item-preview_add-to-cart-button,
.cart-preview_delete-button {
	font-size: 0.6em;
}
.my-pagination.ngx-pagination,
.my-pagination .ngx-pagination a,
.ngx-pagination button {
	color: white !important;
}
.my-pagination .ngx-pagination .current {
	background: #292929;
	margin-bottom: 1.5em;
	color: #c8c8c8;
}
.my-pagination .ngx-pagination a:focus,
.ngx-pagination button:focus {
	border-color: none;
	outline: none;
	background: #d4d4d4;
}

.my-pagination .ngx-pagination a:hover {
	background: #292929;
	color: white;
}
.special-card {
	background-color: #292929;
	border: none;
}

.cart-preview_delete-button {
	color: #ffffff;
	background-color: #c43107;
	border-color: #610612;
}

.cart-preview_delete-button:hover,
.cart-preview_delete-button:focus,
.cart-preview_delete-button:active,
.cart-preview_delete-button.active,
.open .dropdown-toggle.cart-preview_delete-button {
	color: #ffffff;
	background-color: #871b1b;
	border-color: #610612;
}

.cart-preview_delete-button:active,
.cart-preview_delete-button.active,
.open .dropdown-toggle.cart-preview_delete-button {
	background-image: none;
}

.cart-preview_delete-button.disabled,
.cart-preview_delete-button[disabled],
fieldset[disabled] .cart-preview_delete-button,
.cart-preview_delete-button.disabled:hover,
.cart-preview_delete-button[disabled]:hover,
fieldset[disabled] .cart-preview_delete-button:hover,
.cart-preview_delete-button.disabled:focus,
.cart-preview_delete-button[disabled]:focus,
fieldset[disabled] .cart-preview_delete-button:focus,
.cart-preview_delete-button.disabled:active,
.cart-preview_delete-button[disabled]:active,
fieldset[disabled] .cart-preview_delete-button:active,
.cart-preview_delete-button.disabled.active,
.cart-preview_delete-button[disabled].active,
fieldset[disabled] .cart-preview_delete-button.active {
	background-color: #c43107;
	border-color: #610612;
}

.cart-preview_delete-button .badge {
	color: #c43107;
	background-color: #ffffff;
}

.purple_button {
	color: #ffffff;
	background-color: #5900eb;
	border-color: #3d0696;
}

.purple_button:hover,
.purple_button:focus,
.purple_button:visited,
.purple_button:visited,
.purple_button:active,
.purple_button.active,
.open .dropdown-toggle.purple_button {
	color: #ffffff;
	background-color: #7a36e8;
	border-color: #3d0696;
}

.purple_button:active,
.purple_button.active,
.open .dropdown-toggle.purple_button {
	background-image: none;
}

.purple_button.disabled,
.purple_button[disabled],
fieldset[disabled] .purple_button,
.purple_button.disabled:hover,
.purple_button[disabled]:hover,
fieldset[disabled] .purple_button:hover,
.purple_button.disabled:focus,
.purple_button[disabled]:focus,
fieldset[disabled] .purple_button:focus,
.purple_button.disabled:active,
.purple_button[disabled]:active,
fieldset[disabled] .purple_button:active,
.purple_button.disabled.active,
.purple_button[disabled].active,
fieldset[disabled] .purple_button.active {
	background-color: #5900eb;
	border-color: #3d0696;
}

.purple_button .badge {
	color: #5900eb;
	background-color: #ffffff;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	box-shadow: none;
}

@media screen and (max-width: 750px) {
	body {
		font-size: 0.7em;
	}
	.form-control {
		margin-top: 1px;
		font-size: 2.5em;
	}
	.footer {
		height: 20px; /* Set the fixed height of the footer here */
		line-height: 15px; /* Vertically center the text there */
	}

	.display_item-overview {
		font-size: 0.7em;
	}

	.cart-preview_item-text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 200px;
		min-width: 200px;
	}

	.cart-preview_item {
		padding-bottom: 5% !important;
		padding: 0.5em;
	}
}
